/*
paleta de colores

.color1 {color: #00110d;}
.color2 {color: #132831;}
.color3 {color: #284f67;}
.color4 {color: #4d8598;}
.color5 {color: #55a49e;}
*/


body {
    background-color: #55a49e;
}

#title {
    background-color: #242424  ;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    word-spacing: 8px;
    margin:auto ;
    padding:8px 3px;
    
}

#login{
    background-color: #4d8598;
    margin: 10px auto;
    padding: 50px 50px;
    width: 40%;
    height: 300px;
    border: 5px double black  ;
    border-radius: 3px;
    
}
input{
    width: 60%;
    
}

#datos{
    padding:0px auto;
    margin:10px auto;

   
   text-shadow: 1px 1px 1px;

}




/*Mercedes*/
#foto{
    display: block;
    margin: 0px auto;
    padding: 10px;


}

#foto:hover{
    opacity: 0.7;
}


#name {
    background-color: #1e1c07  ;
    color:white;
    width:300px;
    text-align: center;
    margin: 0px auto;
}