body {
    background-color: rgba(210, 238, 228, 0.936);
}

#title {
    background-color: blanchedalmond;
    width: 50%;
    text-align: center;
    border-radius: 4px;
    word-spacing: 8px;
    margin:auto ;
    padding: 10px;
    
}

#foto{
    display: block;
    margin: 0px auto;
    padding: 10px;


}

#foto:hover{
    opacity: 0.7;
}


#name {
    background-color: #1e1c07  ;
    color:white;
    width:300px;
    text-align: center;
    margin: 0px auto;
}